body {
    background-color: #073b4c;
    color: snow;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.gameContainer {
    width: 600px;
    padding: 0;
    margin: 30px auto;
}

.leaderboard {
    margin-top: 50px;
    display: none; /* change to none → block when leaderboard will be implemented */
}

.leaderboard-table {
    border-collapse: collapse;
    width: 100%;
}

.field {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
}

    .field td {
        border: 0;
        padding: 0px;
    }

        
        .field td:after {
            content: ' ';
            display: block;
            margin-top: 100%;
        }

.animated {
    transition: all 0.3s ease-out, z-index 0s ease;
}

.cell:hover{
   border: black 2px;
}
.cell {

    
    
    border-radius: 50px;
    
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    font-size: 55px;
    color: #776e65;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 100500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60pt;
    color: snow;
}

.mainButtonContainer {
    margin: 20px auto;
    width: 200px;
}
.startButton {
    border: 0;
    background: #edae49;
    box-shadow: none;
    border-radius: 10px;
    
    height: 50px;
    width: 100%;
    margin: 20px auto;
}

.hidden {
    display: none;
}

.wqwe{
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;

}
button#undo:hover{
    background: #edcf72;
}
button#undo {
    
    border: 0;
    background: #edae49;
    box-shadow: none;
    border-radius: 10px;
    
    position: fixed;
    bottom: 50%;
    width: 10%;
    height: 10%;

}

.color0 {
    background-color: #ef476f;
}

.color1 {
    background-color: #ffd166;
}

.color2 {
    background-color: #06d6a0;
}

.color3 {
    background-color: #9b5de5;
}

.color4 {
    background-color: #fdf0d5;
}

.color5 {
    background-color: #8ac926;
}

.color6 {
    background-color: #9381ff;
}

.color7 {
    background-color: #f2b5d4;
}

.color8 {
    background-color: #aaf683;
}

